name: debug-ubuntu

on:
  push:
    branches: [ main ]
    tags: [ 'v*.*.*' ]
    paths:
      - debug-ubuntu/**

jobs:
  build:
    uses: ./.github/workflows/docker-build.yml
    permissions:
      contents: read
      packages: write
    with:
      image: debug-ubuntu