name: php82-fpm

on:
  workflow_dispatch:
  push:
    branches: [ main ]
    tags: [ 'v*.*.*' ]
    paths:
      - php82-fpm/**

jobs:
  build:
    uses: ./.github/workflows/docker-build.yml
    permissions:
      contents: read
      packages: write
    with:
      image: php82-fpm