name: php82-fpm

on:
  push:
    branches: [ main ]
    tags: [ 'v*.*.*' ]
    paths:
      - php82/fpm/**

jobs:
  build:
    uses: ./.github/workflows/docker-build.yml
    with:
      image: php82/fpm