name: php82-cli

on:
  push:
    branches: [ main ]
    tags: [ 'v*.*.*' ]
    paths:
      - php82-cli/**

jobs:
  build:
    uses: ./.github/workflows/docker-build.yml
    with:
      image: php82-cli